@use "style" as nu;

/**
 * -----------------------------------------------
 * | TOP:LEFT     |  TOP:CENTER   | TOP:RIGHT    |
 * ----------------------------------------------
 * | MIDDLE:LEFT  | MIDDLE:CENTER | MIDDLE:RIGHT |
 * ----------------------------------------------
 * | BOTTOMN:LEFT | BOTTOM:CENTER | BOTTOM:RIGHT |
 * -----------------------------------------------
 */

:host {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    position: relative;
    align-items: stretch;
    justify-items: stretch;
    overflow: clip;
}
