@use "style" as nu;

:host {
    --nudp-tx: 0;
    --nudp-ty: 0;
    --nudp-t: auto;
    --nudp-r: auto;
    --nudp-b: auto;
    --nudp-l: auto;

    display: block;
    position: relative;
    z-index: 100;

    .wrapper {
        all: inherit;

        // TODO: kérdéses, hogy akarok-e, hogy a chikd az mindig teljes méretű legyen
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        align-items: stretch;
        justify-items: stretch;

        position: absolute;
        top: var(--nudp-t);
        right: var(--nudp-r);
        bottom: var(--nudp-b);
        left: var(--nudp-l);
        width: auto;
        height: auto;

        transition: transform nu.$duration-fast nu.$ease-deceleration;
        transform: translate(var(--nudp-tx), var(--nudp-ty));
    }

    &[mode="rigid"] {
        overflow: clip;

        &[orient="horizontal"] {
            transition: height nu.$duration-fast nu.$ease-deceleration;
            height: var(--nudp-content-size);

            &[state="closed"] {
                height: 0px;
            }
        }

        &[orient="vertical"] {
            transition: width nu.$duration-fast nu.$ease-deceleration;
            width: var(--nudp-content-size);

            &[state="closed"] {
                width: 0;
            }
        }
    }

    &[mode="over"] {
        z-index: 300;
    }

    &[orient="horizontal"] {
        --nudp-l: 0px;
        --nudp-r: 0px;

        &[side="top"] {
            --nudp-t: 0px;

            &[state="closed"] {
                --nudp-ty: -100%;
            }
        }

        &[side="bottom"] {
            --nudp-b: 0px;

            &[state="closed"] {
                --nudp-ty: 100%;
            }
        }

        &:not([mode="rigid"]) {
            height: 0px;
        }
    }

    &[orient="vertical"] {
        --nudp-t: 0px;
        --nudp-b: 0px;

        &[side="left"] {
            --nudp-l: 0px;

            &[state="closed"] {
                --nudp-tx: -100%;
            }
        }

        &[side="right"] {
            --nudp-r: 0px;

            &[state="closed"] {
                --nudp-tx: 100%;
            }
        }

        &:not([mode="rigid"]) {
            width: 0px;
        }
    }
}
